{{ $currentPage := . }}
{{ range .menu.navigation }}
  {{ if .HasChildren }}
    <li class='dropdown'>
      <a class='arrow'>{{ .Name }}</a>
      <ul class='submenu'>
        {{ range .Children }}
          <li>
            <a href='{{ .URL }}'>{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </li>
  {{ else if .icon }}
    <li>
      <a href='{{ .URL }}' class="icon" target='_blank' rel='noopener noreferrer'>
        {{ .Name }} {{ partial "media/svg" (dict "id" .icon "class" "heart-icon") }}
      </a>
    </li>
  {{ else }}
    <li>
      <a href='{{ .URL }}'>{{ .Name }}</a>
    </li>
  {{ end }}
{{ end }}

