<div class='copyright'>
  <p>
    © 2018 by
    <a href="http://www.opentechschool.org/foundation/">
      OpenTechSchool e.V.
    </a>
    <span class='divider'>&nbsp;&nbsp;||&nbsp;&nbsp;</span>
  </p>
  <p>
    designed by
    <a href="http://www.opentechschool.org">
      Our designer
    </a>
    &nbsp;&nbsp;||&nbsp;&nbsp;
    <a href="{{.Site.BaseURL}}contact.html">
      Contact us
    </a>
    &nbsp;&nbsp;||&nbsp;&nbsp;
    <a href="{{.Site.BaseURL}}imprint.html">Impressum</a>
  </p>
</div>
