<footer>
  {{ partial "_render_social_list_footer.html" .Site.Data.nav }}
    <ul class='footer-items'>
      <li>
        <h3 class='title'>Get involved</h3>
        <ul>
          <li>
            <a href="#">Organize and event</a>
          </li>
          <li>
            <a href="#">Host an event</a>
          </li>
          <li>
            <a href="#">Become a sponsor</a>
          </li>
           <li>
            <a href="#">Become a member</a>
          </li>
           <li>
            <a href="#">Start a chapter</a>
          </li>
        </ul>
      </li>

      <li>
        <h3 class='title'>Connect</h3>
        <ul>
          <li>
            <a href="https://twitter.com/OpenTechSchool">Twitter</a>
          </li>
          <li>
            <a href="http://localhost:4000/">Facebook</a>
          </li>
          <li>
            <a href="https://gitter.im/OpenTechSchool/www.opentechschool.org">Gitter</a>
          </li>
          <li>
            <a href="#">Forum</a>
          </li>
          <li>
            <a href="http://www.meetup.com/find/?allMeetups=true&amp;keywords=opentechschool&amp;radius=Infinity&amp;sort=default">Meetup</a>
          </li>
           <li>
            <a href="https://github.com/OpenTechSchool">Github</a>
          </li>
           <li>
            <a href="https://github.com/OpenTechSchool/">How to contact us</a>
          </li>
        </ul>
      </li>
        <li>
        <h3 class='title'>Our Values</h3>
        <ul>
          <li>
            <a href="#">What drives us</a>
          </li>
          <li>
            <a href="#">Education by us</a>
          </li>
           <li>
            <a href="#">Coaches guidline</a>
          </li>
           <li>
            <a href="#">Code of conduct</a>
          </li>
        </ul>
      </li>

      <li>
        <h3 class='title'>About us</h3>
        <ul>
          <li>
            <a href="{{.Site.BaseURL}}press.html">Learn more</a>
          </li>
          <li>
            <a href="{{.Site.BaseURL}}imprint.html">FAQ</a>
          </li>
          <li>
            <a href="{{.Site.BaseURL}}contact.html">Press</a>
          </li>
          <li>
            <a href="{{.Site.BaseURL}}foundation/">Imprint</a>
          </li>
          <li>
            <a href="{{.Site.BaseURL}}sponsors.html">Privacy policy</a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="disclaimer">
     <p>
        <!-- <a title="we are under creative commons"
          href="http://creativecommons.org/licenses/by/3.0/"><img
          src="assets/statics/by-sa-cp.png" alt="CC-BY-SA 3.0"></a><br> -->
        <small>
          Except <a href="{{.Site.BaseURL}}imprint.html">where otherwise noted</a>,
          content on this site is licensed under a
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
           Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
        </small>
      </p>
    </div>
    {{ partial "_render_copyright.html" }}
</footer>

<!-- our external javascript scripts -->
