{% for item in include.nav %}

  {% if item.sub !=null %}
    <div class="dropdown">

      <a class="arrow">{{item.title}}</a>

      <ul class="submenu">

        {% for subitem in item.sub %}
          <li><a href="{{subitem.url}}">{{subitem.title}}</a></li>
        {% endfor %}

      </ul>
    </div>

    {% else %}
      {% if item.icon %}
        <a class="{{item.icon}}" href="{{item.url}}"></a>

      {% else %}
        <a href="{{item.url}}">{{item.title}}</a>

    {% endif %}

  {% endif %}
{% endfor %}
