  <footer>
    <div class="container-fluid">
      <ul class="row">

        <li class="col-xs-3">
          <h3>Get involved</h3>
          <ul>
            <li>
              <a href="#">Organize and event</a>
            </li>
            <li>
              <a href="#">Host an event</a>
            </li>
            <li>
              <a href="#">Become a sponsor</a>
            </li>
             <li>
              <a href="#">Become a member</a>
            </li>
             <li>
              <a href="#">Start a chapter</a>
            </li>

          </ul>
        </li>

        <li class="col-xs-3">
          <h3>Connect</h3>
          <ul>
            <li>
              <a href="https://twitter.com/OpenTechSchool">Twitter</a>
            </li>

            <li>
              <a href="http://localhost:4000/">Facebook</a>
            </li>

            <li>
              <a href="https://gitter.im/OpenTechSchool/www.opentechschool.org">Gitter</a>
            </li>
            <li>
              <a href="#">Forum</a>
            </li>

              <li>
              <a href="http://www.meetup.com/find/?allMeetups=true&amp;keywords=opentechschool&amp;radius=Infinity&amp;sort=default">Meetup</a>
            </li>
             <li>
              <a href="https://github.com/OpenTechSchool">Github</a>
            </li>
             <li>
              <a href="https://github.com/OpenTechSchool/">How to contact us</a>
            </li>


          </ul>
        </li>
          <li class="col-xs-3">
          <h3>Our Values</h3>
          <ul>
            <li>
              <a href="#">What drives us</a>
            </li>
            <li>
              <a href="#">Education by us</a>
            </li>
             <li>
              <a href="#">Coaches guidline</a>
            </li>
             <li>
              <a href="#">Code of conduct</a>


          </ul>
        </li>

        <li class="col-xs-3">
          <h3>About us</h3>
          <ul>
            <li>
              <a href="{{site.baseurl}}press.html">Learn more</a>
            </li>
            <li>
              <a href="{{site.baseurl}}imprint.html">FAQ</a>
            </li>
            <li>
              <a href="{{site.baseurl}}contact.html">Press</a>
            </li>
            <li>
              <a href="{{site.baseurl}}foundation/">Imprint</a>
            </li>
            <li>
              <a href="{{site.baseurl}}sponsors.html">Privacy policy</a>
            </li>

          </ul>
        </li>


      </ul>

      <div class="disclaimer">
       <p>
          <!-- <a title="we are under creative commons"
            href="http://creativecommons.org/licenses/by/3.0/"><img
            src="assets/statics/by-sa-cp.png" alt="CC-BY-SA 3.0"></a><br> -->
          <small>
            Except <a href="{{site.baseurl}}imprint.html">where otherwise noted</a>,
            content on this site is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
             Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
          </small>
        </p>

        <p>
          © 2016 by
          <a href="http://www.opentechschool.org/foundation/">
            OpenTechSchool e.V.
          </a>&nbsp;&nbsp;||&nbsp;&nbsp;
          <a href="{{site.baseurl}}contact.html">
            Contact us
          </a>&nbsp;&nbsp;||&nbsp;&nbsp;
          <a href="{{site.baseurl}}imprint.html">Impressum</a>
        </p>
      </div>

    </div>
  </footer>

<!-- our external javascript scripts -->
<script type="text/javascript" src="/assets/statics/polyfills/fetch.js"></script>
<script type="text/javascript" src="/assets/statics/polyfills/template.js"></script>
<script type="text/javascript" src="/assets/statics/polyfills/jsonp.js"></script>
