<header>
  <div class="container-fluid">
    <nav class="row middle-sm between-xs">
      <a class="mainlogo" href="{{site.baseurl}}/" >OpenTechSchool</a>

      <div class="nav-links row between-sm col-sm-6 ">
        <input type="checkbox" id="menu-toggle">
  			<label for="menu-toggle" class="label-toggle"></label>

        <ul class='nav-links-list'>
          {% include _render_nav.html nav=site.data.nav.navigation %}
        </ul>
        <ul class='nav-social'>
          {% include _render_social_list.html nav=site.data.nav.social %}
        </ul>

      </div>
    </nav>
  </div>
</header>
