<header>
  <div class="container-fluid">
    <nav class="row middle-xs between-xs">
      <a class="mainlogo" href="{{site.baseurl}}/" >OpenTechSchool</a>
      <div class="col-xs-12 col-sm-6 row end-xs">
        <ul class="social-links row col-xs-5 between-xs">
          {% include _render_nav.html nav=site.data.nav.social %}
        </ul>

        <ul class="main row col-xs-9 between-xs">
          {% include _render_nav.html nav=site.data.nav.main %}
        </ul>
      </div>
    </nav>
  </div>
</header>
