<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% if page.tagline %} || {{page.tagline}}{%endif%} || OpenTechSchool.org</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script type="text/javascript">
    (function(){
    	var _queue = [];
    	window.onStartUp = function(fn){
    		if (document.readyState === "loading") {
    			_queue.push(fn);
    		} else {
    			// we are past loading, start immediately.
    			fn();
    		}
    	}
    	document.onreadystatechange = function () {
		    if (document.readyState === "interactive") {
		        _queue.forEach(function(fn){
		        	// execute all queued actions
		        	fn();
		        });
		    }
		}
		window.fetchAndRender = function(
			sourceUrl,   // link to a json URL we will fetch
			targetId,  // the target this should be rendered into
			templates,   // any templateIDs it'd like us to fetch for them
			fn           // the function to call
			) {
			var target = document.getElementById(targetId);
			return fetch(sourceUrl)
				.then(function(resp) { return resp.json() })
				.then(function(data) {
					var args = (templates || []).map(
						function (tmpl) { return document.getElementById(tmpl).innerHTML});
					args.unshift(data);
					return fn.apply(fn, args);
				})
				.then(function(rendered) {
					target.innerHTML = rendered;
				})
				.catch(function(error){
					target.innerHTML = error
				});
		}
	})()
    </script>
</head>
