<header>

  <nav>
  <div>

    <a href="{{site.baseurl}}" >OpenTechSchool</a>
    <input type="checkbox" id="shownav" />
    <label for="shownav" ><div></div><div></div><div></div></label>
    <ul >
      <li>
        <a target="_blank" href="http://learn.opentechschool.org">Learn</a>
      </li>
      <li>
        <a href="{{site.baseurl}}about.html">About</a>
      </li>
      <li>
        <a href="{{site.baseurl}}projects/">Projects</a>
      </li>
      <li>
        <a href="http://{{site.blog_domain}}">Blog</a>
      </li>
      <li>
        <ul >
          <li>
            <a href="http://discourse.opentechschool.org" title="Our Discuss Forum" >Discourse</a>
          </li>
          <li>
            <a href="https://twitter.com/OpenTechSchool" title="Our Twitter" >Twitter</a>
          </li>
          <li style="margin: 0;">
            <a href="http://www.facebook.com/OpenTechSchool" title="Our Facebook" >Facebook</a>
          </li>
          <li>
            <a href="https://github.com/OpenTechSchool" title="Our Github" >Github</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>


</header>
