
header {
	padding-top: 0.25em;
	.mainlogo {
		background-color: $brand-color;
		font-size: 1.2em;
		line-height: 2em;
		color: white;
		font-weight: bold;
		padding: 0 0.5em;
	}

	.social-links {
		text-transform: lowercase;
		font-size: 0.8em;
		line-height: 1.75em;
	}

	.main {
		margin-top: 0.25em;
		text-transform: uppercase;
		font-size: 1.25em;
		line-height: 1.1em;
	}
}


footer {
	padding: 2em 3em 0.5em 3em;
	font-size: 0.8em;
	background-color: $brand-color;
	color: white;
	text-align: left;

	a, a:hover, a:visited {
		color: white;
	}

	.disclaimer {
		padding: 4em 3em 0.5em 3em;
		font-size: 0.8em;
		text-align: center;
		background-color: $brand-color;

	}

}



@import 
	"layouts/page.scss",
	"layouts/landing.scss",
	"layouts/chapter.scss"
;