footer {
	background: var(--blueMiddle);
}

.footer-items,
.disclaimer {
	display: none;
}

.copyright {
  color: var(--blueLink);
  font-family: var(--headerFontFamily);
  font-style: 400;
  font-size: 10px;
  text-align: center;
  margin-top: 35px;
  padding-bottom: 20px;
}

.copyright a {
	color: white;
}

.copyright p:first-child {
  padding-bottom: 6px;
}

.divider {
  display: none;
}


/* Social Menu */
.nav-social {
  background-color: white;
  height: auto;
  padding: 25px 40px;
}

.social-title {
  color: var(--blueMiddle);
  text-align: center;
  font-family: var(--headerFontFamily);
  font-size: 24px;
  margin-bottom: 35px;
}

.social-icons {
  max-width: 240px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
}

.social-icons a {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.social-icons-svg {
  width: inherit;
  height: inherit;
}

@media (min-width: 768px) {
	.disclaimer,
	.footer-items {
		display: flex;
		font: var(--paragraphFont);
		justify-content: space-evenly;
    max-width: 840px;
    margin: 0 auto;
	}

  .footer-items {
    padding-top: 72px;
  }

  .footer-items .title {
    color: white;
    font-family: var(--headerFontFamily);
    font-size: var(--fontSizeHead4);
    padding-bottom: 20px;
  }

  .footer-items a {
    color: var(--blueLink);
    font-size: 14px;
    line-height: 32px;
  }

  .footer-items a:hover {
    color: white;
  }

	.footer-items a::before {
		content: '*';
    font-size: 14px;
    padding-right: 4px;
	}

  .disclaimer {
    padding-top: 60px;
    font-size: 14px;
    color: var(--blueLink);
    text-align: center;
  }

  .disclaimer a {
    color: white;
  }

  .copyright {
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
    margin-top: 20px;
  }

  .copyright p:first-child {
    padding-bottom: 0;
  }

  .divider {
    display: inline;
  }
}

@media (max-width: 340px) {
  .nav-social {
    padding: 10px 40px;
  }
}

