<div id="js-teamlist">
Loading ...
</div>

<script id="tmpl-teammember" type="text/template">
  <li>
    <img src="//discourse.opentechschool.org/${avatar}"
      title="${name}" />
    <h3>
      <span>${name}</span>
      <a href="//discourse.opentechschool.org/users/${username}" target="_blank">@${username}</a>
    </h3>
    <span class="title">${title || ""}</span>
  </li>
</script>


<script type="text/javascript">
onStartUp(function() { fetchAndRender(
  // '/assets/test_data/components/teamlist.json',
  'http://discourse.opentechschool.org/groups/{{page.discourse_group}}/members.json',
  'js-teamlist',
  ['tmpl-teammember'],
  function(data, memberTemplate) {
      var members = data.members;
      members.sort(function(a, b){
        if (a.last_seen_at > b.last_seen_at){
          return -1;
        }
        return 1;
      });
      function render(member){
        member.avatar = member.avatar_template.replace("{size}", "256");
        return memberTemplate.template(member);
      }
      return "<ul>" + members.map(render).join("\n") + "</ul>";
    })});
</script>