<header class="header">
  <nav class="nav">
    <a class="logo" href="{{.Site.BaseURL}}">OpenTechSchool</a>

    <input type="checkbox" id="shownav" />
    <label for="shownav">
      <div></div>
      <div></div>
      <div></div>
    </label>

    <div class="nav-links">
      <ul class='nav-items'>
        {{ partial "_render_nav.html" .Site.Data.nav }}
      </ul>
      <div class='nav-social'>
        <h3 class='social-title'>Connect</h3>
        <ul>
          {{ partial "_render_social_list.html" .Site.Data.nav }}
        </ul>
      </div>

    </div>
  </nav>
</header>