.chapter {
	header {
		background-color: $brand-color;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		color: $brand-color-lighter;
		padding-top: 2.5em;
		padding-bottom: 0.125em;
		margin: 0.25em 0;
		text-align: center;
	}
}
