.layout-landing {
	text-align: center;
	p {
		text-align: center;
	}
	h2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
	}

	header {
		background: $base-background-color;
		position: absolute;
		width: 100%;
		margin-top: 0;
	    padding-bottom: 10px;
	    padding-top: 10px;

	}
	.jumbo {
		margin-top: 0;
		height: 80vh;
		min-height: 350px;
		background-size: cover;
		background-position-y: 20%;
		.container {
			color: $white;
			text-align: center;
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%, -50%);
			//text-shadow: 0px 1px 2px rgba($white, 0.6);
			h1, h2 {
				padding: 0;
			}
			h1 {
				font-size: 4rem;
    		margin-bottom: 20px;
			}
		}
	}

	.intro {
		.intro__boxes {
			margin-top: 60px;
			.intro__boxes__box {
				visibility: hidden;
				padding: 0 10px;
	    	display: inline-block;
	    	color: $brand-color-black;
	    	.u-circle-centered {
	    		display: flex;
			    justify-content: center;
			    align-items: center;
	    	}
	    	h3 {
	    		font-weight: 200;
	    	}
	    	span {
	    		display: inline-block;
			    margin-top: -5px;
				}
			}
		}
	}

	.numbers {
		.row {
			padding: 40px 0 20px;
		}
	}

	.callToAction {
		margin-bottom: 0;
	}
}
