---
layout: default
---
{% comment %}
  The ordering of the includes is important!  The _metadata template globally
  sets some variables such as `key` and `meetup`, which might be (and are)
  overridden  in _head.html and _main_nav.html as well.
{% endcomment %}
{% include _metadata doc=page %}
<div class="chapter chapter-{{key}}">
  <header {% if page.background %}style="background-image: url(/assets/statics/backgrounds/chapters/{{page.background}})"{% endif %}>
    <h1>
      <a href="{{site.baseurl}}{{key}}/">{{page.title}}</a>
    </h1>
    {% if page.tagline %}
      <h2 >
        {{page.tagline}}
      </h2>
    {% endif %}
  </div>
  </header>

  <section class="container">
    <div >
      {{content}}
    </div>
  </section>

  <div class="container">
        <section>
          <h3 >
            Upcoming events
            <a href="webcal://www.meetup.com/{{meetup}}/events/ical/OpenTechSchool+{{page.title}}/" >&raquo;cal</a>
          </h3>
          {% if page.custom_events %}
            {{page.custom_events}}
          {% endif %}
          <div id="upcomingEvents"></div>
          <a href="http://www.meetup.com/{{meetup}}/suggestion">Suggest one!</a>
        </section>
      </div>

      <div >
        <section>
          <h3 >
            Latest news
            <a href="http://{{site.blog_domain}}/feeds/{{key}}.xml" >&raquo;rss</a>
          </h3>

          <div id="js-blog-posts-list"></div>
          <script type="text/x-template" data-template="blog-post">
            <article >
              <h3 >${title}</a></h3>
              <p >
                ${date}
              </p>
            </article>
          </script>
        </section>
      </div>
    </div>
    <div ></div>
  </div>

  <section >
    <div >
      {% if page.discourse_group %}

        <h2 >@{{page.discourse_group}}</a>)</h2>
        <div id="teamList">
          loading ...
        </div>
      {% else %}
        <h2 >Team {{page.title}}</h2>
        <ul >
          {% for member in page.members %}
          {% include _member member=member %}
          <li >
            <img src="{{site.baseurl}}images/team/{{img}}.jpg">
            <h3>
              {{ name }}
            </h3>
            {% if email %}
              <p>{{ email }}</p>
            {% endif %}
          </li>
          {% endfor %}
          <li >
            <div>
              {% if page.mailing_list %}
              <form action="https://groups.google.com/a/opentechschool.org/group/{{ page.mailing_list }}/boxsubscribe">
                <input type="text" >
                <input type="submit" name="sub" value="Subscribe">
              </form>
              {% endif %}
            </div>
            <h3>You?</h3>
          {% if page.mailing_list %}
            <p>{{ page.mailing_list }}@opentechschool.org</p>
          {% endif %}
          </li>
        </ul>
      {% endif %}
      {% if page.twitter %}
      <div >
        <a 
          href="https://twitter.com/{{page.twitter}}"
          data-widget-id="{{page.widget_id}}">Tweets by @{{page.twitter}}</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      {% endif %}
      <a href="/dashboard?{{ meetup }}" >&raquo;admin</a>
    </div>
  </section>

  <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.0/react.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/widgets.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
     $(function() {
      React.renderComponent(OTS.Widgets.UpcomingEventsPreview({teams: OTS.config.chapters, path:"events", page: 5, hideTeams: true, params: {group_urlname: '{{meetup}}'}}), document.getElementById('upcomingEvents'));

      React.renderComponent(OTS.Widgets.ChapterConversations({teams: OTS.config.chapters, path:"/category/chapters/{{key}}.json"}), document.getElementById('chapterConversations'));

      React.renderComponent(OTS.Widgets.MembersCounter({path:"groups", params: {group_urlname: '{{meetup}}'}}), document.getElementById('membersCount'));


    {% if page.discourse_group %}
      React.renderComponent(OTS.Widgets.TeamList({team: '{{page.discourse_group}}'}), document.getElementById('teamList'));
    {% endif %}
     });

  </script>
</div>
