<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{%if page.permalink %}page-{{page.permalink | slugify}} {% endif %}{% if page.body_tags %}{{page.body_tags}}{% endif %}">

	<div class="layout-landing">

	 {% include header.html %}

	  <div class="jumbo" {% if page.background %}style="background-image: url(/assets/statics/backgrounds/{{page.background}})"{% endif %}>
	    <div class="container">
	      <h1>{{ page.title }}</h1>
	      <h2>{{page.tagline}}<h2>
	    </div>
	  </div>

	  <div class="container">
	      {{ content }}
	  </div>
	</div>


    {% include footer.html %}

  </body>

</html>
