html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

a {
	cursor: pointer;
}


header {
	font-family: $heading-font-family;
	font-size: 1.2rem;
	font-weight: 400;
	padding-top: 0.25em;
	margin-top: 10px;
 	padding: 0 10px;

	.mainlogo {
		font-size: $logo-size;
		line-height: 2em;
		color: $brand-color;
		font-weight: 800;
		padding: 0 0.5em;
	}

	.social-links {
		font-size: $p-font-small;
		text-transform: lowercase;
	}

	.dropdown {
		a {
			text-align: center;
			display: block;
			padding: 8px;
		}
		.arrow::after  {
			font-family: "FontAwesome";
			content: "\f078";
			padding: 2px 2px;
			font-size: 1rem;
		}
		&.open {
			a {
				color: white;
				background-color: $brand-color;
			}
			.arrow::after {
				font-family: "FontAwesome";
				content: "\f00d";
				padding: 1px;
				padding-left: 3px;
				font-size: 1rem;
			}
		}
	}

	.submenu {
		text-align: left;
		display: none;
		// position: absolute;
		position: relative;
		background-color: $brand-color;
		min-width: 160px;
		border-style: 1px solid;
  	border-color: #FFF;
		z-index: 999;

		a {
			color: white;
  		border-top: 1px solid #6c92ab;
  		&:hover{
  			background-color: $ots_blue_l;
  		}
  	}
	}

	.dropdown.open .submenu {
		display: block;
	}
}


// ============== //

.nav-links {
	text-transform: uppercase;
	justify-content: flex-end;
	width: 100%;
	margin-top: -50px;
}

.nav-links-list {
  background-color: yellow;
  display: block;
  height: 0;
  list-style-type: none;
  opacity: 0;
  text-align: center;
  transition: all 1s ease;
  width: 100%;
  visibility: hidden;

  > li {
	  border-bottom: 2px solid black;
	  color: black;
	  display: block;
	  font-size: 1.5em;
	  padding: 2em 0;
	}

	a {
	  	padding: 10px;
	}
}

#menu-toggle {display: none;}
#menu-toggle:checked ~ ul {
  opacity: 1;
  height: 100vh;
  visibility: visible;
}

.label-toggle {
  background: linear-gradient(to bottom, #E84545 0%, #E84545 20%, transparent 20%, transparent 40%, #E84545 40%, #E84545 60%, transparent 60%, transparent 80%, #E84545 80%, #E84545 100%);
  cursor: pointer;
  display: block;
  float: right;
  height: 35px;
  margin-top: 1em;
  width: 35px;
}

@media screen and (min-width: $medium-screen) {
	.nav-links {
		justify-content: flex-start;
    width: auto;
    margin-top: 0.25em;
	}

	.label-toggle {display: none;}
	#menu-toggle ~ ul {
	  opacity: 1;
	  height: auto;
	  visibility: visible;
	}

	.nav-links-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;

    > li  {
	    display: inline-block;
	  }

    a {
      color: black;
      text-decoration: none;
      transition: all .5s ease;

      &:hover {color: green;}
    }
  }

	.label-toggle {
		display: none;
	}

	.submenu {
		position: absolute;
	}

	.dropdown a {
		text-align: center;
	}
}

// ---------------------------- //

.section-bkg {
	margin-top: 50px;
	margin-bottom: 50px;
	h2 {
		font-weight: 200;
    font-size: 3rem;
	}

	&.section-bkg--blue {
		background-color: $brand-color;
		color: $white;
		padding: 70px 0;

		h2 {
			font-weight: 700;
		}
	}

	&.section-bkg--pink {
		background-color: $ots_constrat_pink;
		color: $white;
		padding: 70px 0;

		h2 {
			font-weight: 700;
		}
	}
}


footer {
	padding: 2em 3em 0.5em 3em;
	background-color: $brand-color;
	color: white;
	text-align: left;
	font-size: $p-font-small;

	a, a:hover, a:visited {
		color: white;
	}

	.disclaimer {
		padding: 4em 3em 0.5em 3em;
		text-align: center;
		background-color: $brand-color;

	}

}

@import
	"../layouts/page.scss",
	"../layouts/landing.scss",
	"../layouts/chapter.scss"
;
