html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

a {
	cursor: pointer;
}


header {
	font-family: $heading-font-family;
	font-size: 1.2rem;
	font-weight: 400;
	padding-top: 0.25em;
	margin-top: 10px;
 	padding: 0 10px;

	.mainlogo {
		font-size: $logo-size;
		line-height: 2em;
		color: $brand-color;
		font-weight: 800;
		padding: 0 0.5em;
	}


	#menu-toggle {display: none;}
	#menu-toggle:checked ~ ul {
	  opacity: 1;
	  height: 100vh;
	  visibility: visible;
	}

	.label-toggle {
	  background: $brand-color;
	  cursor: pointer;
	  display: block;
	  float: right;
	  height: 35px;
	  margin-top: 1em;
	  width: 35px;
	}

	.nav-links {
		text-transform: uppercase;
		justify-content: flex-end;
		width: 100%;
		margin-top: -50px;
	}

	.nav-social {
		height: 0;
		opacity: 0;
		width: 100%;
	  visibility: hidden;
	}

	.nav-links-list {
	  display: block;
	  height: 0;
	  list-style-type: none;
	  opacity: 0;
	  text-align: center;
	  transition: all 1s ease;
	  width: 100%;
	  visibility: hidden;
	  > li {
		  color: $brand-color;
		  display: block;
		  font-size: 1.2em;
	    padding: 12px 8px 0px;
		}
		a {
	  	display: block;
			padding: 6px;
		}
	}

	.dropdown {
		a {
			text-align: center;
	    padding-left: 0;
		}
		.arrow::after  {
			font-family: "FontAwesome";
			content: "\f078";
	    font-size: 1.2rem;
	    top: -2px;
	    position: relative;
      padding: 0 6px;
		}
		&.open {
			background-color: $brand-color;
			a { color: white }
			.arrow::after {
				content: "\f00d";
			}
		}
	}

	.submenu {
		display: none;
		text-align: left;
		position: relative;
		background-color: $brand-color;
		min-width: 200px;
		text-transform: capitalize;
		border-bottom: 2px solid white;
		z-index: 999;
		margin-left: -10px;
    margin-top: 6px;
		a {
			font-size: 1.3rem;
			font-weight: 100;
			color: white;
	    padding: 14px 10px;
	    border-bottom: 1px solid transparent;
  		&:hover{
	  		border-bottom: 2px solid white;
		    font-size: 1.5rem;
  		}
  	}
	}

	.dropdown.open .submenu {
		display: block;
	}
}

@media screen and (min-width: $medium-screen) {
	header {
		.nav-links {
			justify-content: flex-start;
	    width: auto;
	    margin-top: 0.25em;
		}

		.label-toggle {display: none;}
		#menu-toggle ~ ul {
		  opacity: 1;
		  height: auto;
		  visibility: visible;
		}

		.nav-links-list {
	    display: flex;
	    width: auto;
	    > li  {
		    padding: 8px 6px 12px 10px;
		  }

	    a {
	      text-decoration: none;
	      transition: all .5s ease;
	    }
	  }

	  .submenu {
	  	position: absolute;
	  	a {
		  	text-align: left;
		  }
	  }

		.label-toggle {
			display: none;
		}

		.nav-social {
			opacity: 1;
			visibility: visible;
			width: auto;
			padding: 12px 10px;
			a {
		    padding: 0 14px;
			}
		}
	}
}


.section-bkg {
	margin-top: 50px;
	margin-bottom: 50px;
	h2 {
		font-weight: 200;
    font-size: 3rem;
	}

	&.section-bkg--blue {
		background-color: $brand-color;
		color: $white;
		padding: 70px 0;

		h2 {
			font-weight: 700;
		}
	}

	&.section-bkg--pink {
		background-color: $ots_constrat_pink;
		color: $white;
		padding: 70px 0;

		h2 {
			font-weight: 700;
		}
	}
}


footer {
	padding: 2em 3em 0.5em 3em;
	background-color: $brand-color;
	color: white;
	text-align: left;
	font-size: $p-font-small;

	a, a:hover, a:visited {
		color: white;
	}

	.disclaimer {
		padding: 4em 3em 0.5em 3em;
		text-align: center;
		background-color: $brand-color;

	}

}

@import
	"../layouts/page.scss",
	"../layouts/landing.scss",
	"../layouts/chapter.scss"
;
