html {
  font-size: 62.5%; // =10px
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {
  font-size: 28px;
  font-size: 2.8rem;
}

h2 {
  font-size: 24px;
  font-size: 2.4rem;
}

h3 {
  font-size: 18px;
  font-size: 1.8rem;
}

h1, h2 {
  padding: 20px 0;
}

h3, h4 {
  padding: 10px 0;
}

p {
  text-align: justify;
  margin: 0 0 $small-spacing;
}

.small-p {
  font-size: $p-font-small;
}


a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

