
// shapes
.u-circle-centered {
	border-radius: 50%;
	background-color: $brand-color;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-bottom: 20px;
}

// display
.u-block {
	display: block;
}
